body{
    margin :0;
    padding: 0;
    background: url(../pictures/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

.logout
{
    width: 1350px;
    height: 40px;
    background: #ea2022;
    color: #fff;
    top: 0px;
    left:0px;
    position: absolute;

}

.logout1
{

    color: #fff;
    top: 0px;
    left:1200px;
    position: absolute;
    font-size: 30px;

}


.tree
{
    width: 1px;
    height: 500px;


    top: 50%;
    left:60%;
    position: absolute;
    transform: translate(-50%,-50%);

    padding: 70px 30px ;
}



.xMass{
    width: 400px;
    height: 600px;

    position: absolute;

    left: calc(50% - 50px);
}
.Information{
    top:10%;
    left:20%;
    width:300px;
    height:500px;
    position: absolute;
    background: red;
}

.UserName
{
    height: 50px;
    width: 100px;

    top:-20px;
    left:50%;
    position: absolute;
}

.UserName h1
{
    font-size: 30px;
color:white;
}

.SearchPictures1 img{
    width: 40px;
    height: 40px;
    top: 24%;
    left: 69%;
    position: absolute;

}

.SearchPictures2 img{
    width: 40px;
    height: 40px;
    top: 34%;
    left: 72%;
    position: absolute;
}

.SearchPictures3 img{
    width: 40px;
    height: 40px;
    top: 41%;
    left: 67%;
    position: absolute;

}

.SearchPictures4 img{
    width: 40px;
    height: 40px;
    top: 49%;
    left: 72%;
    position: absolute;

}
.SearchPictures5 img{
    width: 40px;
    height: 40px;
    top: 53%;
    left: 68%;
    position: absolute;

}
.SearchPictures6 img{
    width: 40px;
    height: 40px;
    top: 57%;
    left: 63%;
    position: absolute;

}

.SearchPictures7 img{
    width: 40px;
    height: 40px;
    top: 62%;
    left: 76%;
    position: absolute;

}

.SearchPictures8 img{
    width: 40px;
    height: 40px;
    top: 68%;
    left: 70%;
    position: absolute;

}

.SearchPictures9 img{
    width: 40px;
    height: 40px;
    top: 73%;
    left: 65%;
    position: absolute;

}

.Home
{   top:0px;
    left: 0px;
    position: absolute;
    width:80px;
    height: 40px;
    border: none;
    outline: none;
    background: #b60200;
    color: #fff;
    font-size: 18px;
    z-index: 9999;

}

