body{
    margin :0;
    padding: 0;
    background: url(../pictures/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

.logout
{
    width: 1350px;
    height: 40px;
    background: #ea2022;
    color: #fff;
    top: 0px;
    left:0px;
    position: absolute;

}

.logout1
{

    background: #ea2022;
    color: #fff;
    top: 0px;
    left:1200px;
    position: absolute;
    font-size: 30px;

}


.tree
{
    width: 1px;
    height: 500px;


    top: 50%;
    left:60%;
    position: absolute;
    transform: translate(-50%,-50%);

    padding: 70px 30px ;
}



.xMass{
    width: 400px;
    height: 600px;

    position: absolute;

    left: calc(50% - 50px);
}



.Decoration
{
    width: 300px;
    height: 350px;
    background: #ea2022;
    border-radius: 20px;
    top: 20%;
    left:4%;
    position: absolute;

}




.Ball1
{
    width: 70px;
    height: 90px;
    left: 0px;
    top:10%;
    position: absolute;

}

.Candy1
{
    width: 70px;
    height: 90px;
    left: 0px;
    top:150px;
    position: absolute;

}
.Flashlight1
{
    width: 90px;
    height: 90px;
    left: 0px;
    top:250px;
    position: absolute;

}

.Ball2
{
    width: 70px;
    height: 90px;
    left: 100px;
    top:10%;
    position: absolute;

}

.Candy2
{
    width: 70px;
    height: 90px;
    left: 100px;
    top:150px;
    position: absolute;

}
.Flashlight2
{
    width: 90px;
    height: 90px;
    left: 100px;
    top:250px;
    position: absolute;

}

.Ball3
{
    width: 70px;
    height: 90px;
    left: 200px;
    top:10%;
    position: absolute;

}

.Candy3
{
    width: 70px;
    height: 90px;
    left: 200px;
    top:150px;
    position: absolute;

}
.Flashlight3
{
    width: 90px;
    height: 90px;
    left: 200px;
    top:250px;
    position: absolute;

}


.Choice{
    width: 300px;
    height:80px;
    top: 12%;
    left:4%;
    position: absolute;
    background: #5314c4;
    border-radius: 20px;
}

.Choice h1{

    font-size: 30px;
    position: center;
    top: 0%;
    text-align: center;
    color: #f2fbed;

}

.InfAboutTree{
    width: 200px;
    height:80px;
    top: 12%;
    left:30%;
    position: absolute;
    background: #5314c4;
    border-radius: 20px;
}
.InfAboutTree h1{

    font-size: 20px;
    position: center;
    top: 0%;
    text-align: center;
    color: #f2fbed;

}

/*.Choice input[type = "submit"]
{
    top: 10px;
    left:50px;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}

.Choice input[type = "submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;

}*/

.Pictures1 img{
     width: 40px;
     height: 40px;
     top: 24%;
     left: 69%;
     position: absolute;

 }

.Pictures2 img{
    width: 40px;
    height: 40px;
    top: 34%;
    left: 72%;
    position: absolute;
}

.Pictures3 img{
    width: 40px;
    height: 40px;
    top: 41%;
    left: 67%;
    position: absolute;

}

.Pictures4 img{
    width: 40px;
    height: 40px;
    top: 49%;
    left: 72%;
    position: absolute;

}
.Pictures5 img{
    width: 40px;
    height: 40px;
    top: 53%;
    left: 68%;
    position: absolute;

}
.Pictures6 img{
    width: 40px;
    height: 40px;
    top: 57%;
    left: 63%;
    position: absolute;

}

.Pictures7 img{
     width: 40px;
     height: 40px;
     top: 62%;
     left: 76%;
     position: absolute;

 }

.Pictures8 img{
     width: 40px;
     height: 40px;
     top: 68%;
     left: 70%;
     position: absolute;

 }

.Pictures9 img{
    width: 40px;
    height: 40px;
    top: 73%;
    left: 65%;
    position: absolute;

}



.search
{
    top:0px;
    left:30%;
    position: absolute;
    width: 300px;
    height: 40px;


}

.search input[type = "submit"]
{
    top:0px;
    left: 170px;
    position: absolute;
    width:80px;
    height: 40px;
    border: none;
    outline: none;
    background: blue;
    color: #fff;
    font-size: 18px;

}

.search input[type = "submit"]:hover
{
    cursor: pointer;
    background: green;


}

.search input[type = "text"]
{

    width:170px;
    height: 40px;
     position: absolute;
    font-size: 16px;

}
.Information{
    top:20%;
    left:30%;
    width:200px;
    height:350px;
    position: absolute;
    background: #ea2022;
    border-radius: 20px;
}

.Information h1{

    font-size: 15px;
    top: 10%;
    text-align: center;
    color: #f2fbed;
    position: relative;

}








.delete
{
    top:0px;
    left:70%;
    position: absolute;
    width: 270px;
    height: 40px;
    z-index:999;



}

.name
{
    height: 40px;
    width: 100px;

    top:-40px;
    left:10%;
    position: absolute;

}

.name
{
    font-size: 24px;
    color:white;
}


.delete input[type = "submit"]
{
    top:0px;
    left: 170px;
    position: absolute;
    width:80px;
    height: 40px;
    border: none;
    outline: none;
    background: blue;
    color: #fff;
    font-size: 18px;

}

.delete input[type = "submit"]:hover
{
    cursor: pointer;
    background: green;


}

.delete input[type = "text"]
{

    width:170px;
    height: 40px;
    position: absolute;
    font-size: 16px;

}

.Error
{
    width: 300px;
    height:80px;
    top:5%;
    left:40%;
    position: absolute;
    border-radius: 20px;


}

.Error h1{

    font-size: 30px;
    position: center;
    top: 0%;
    text-align: center;
    color: #f2fbed;
    z-index: 100;
}



.SearchYourselfOrAbsent{
    top:0px;
    left:700px;
    height:10px ;
    width:200px;
    position: absolute;

}
.SearchYourselfOrAbsent h1{
    font-size: 16px;

}



